<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://github.com/PatrickSt1991/Sportlink.Club.Info.Viewer" version="0.2.1" viewmodes="maximized">
    <access origin="http://192.168.2.125" subdomains="true"/>
    <access origin="https://data.sportlink.com" subdomains="true"/>
    <access origin="https://logoapi.voetbal.nl" subdomains="true"/>
    <tizen:application id="9EWPx5SiWH.SportlinkClubInfoViewer" package="9EWPx5SiWH" required_version="2.3"/>
    <author href="https://github.com/PatrickSt1991" email="patrick.stel@kpnmail.nl">Patrick Stel</author>
    <content src="index.html"/>
    <description xml:lang="en-gb">App to show club data for sports clubs</description>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <license href="https://github.com/PatrickSt1991/Sportlink.Club.Info.Viewer/blob/main/LICENSE">MIT</license>
    <license xml:lang="en-gb" href="https://github.com/PatrickSt1991/Sportlink.Club.Info.Viewer/blob/main/LICENSE">MIT</license>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
    <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="extensive"/>
    <name>SportlinkClubInfoViewer</name>
    <name xml:lang="en-gb">Sportlink Club Info Viewer</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
